@import '~styles/variables';
@import '~styles/styles';

.secondaryPlayer {
  position: relative;
  margin: auto;
  flex: 1;

  .iconContainer {
    padding: 2px;
  }

  .innerButtons {
    z-index: 1;
    padding: 16px;
    flex-direction: row-reverse;
  }
}

.animated {
  animation: scaling .5s linear;
}

@keyframes scaling {
  0% {
    transform: scale(2) translate(25%);
    z-index: 50;
  }
  100% {
    transform: scale(1) translate(0%);
    z-index: 0;
  }
}
