@import '~styles/variables';

.iconContainer {
  opacity: 0.8;
  cursor: pointer;
}

.innerButtons {
  display: flex;
  position: absolute;
  left: 0px;
  top: 0px;
  padding: 10px 8px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 100%);
  width: 100%;

  .iconContainer {
    &:hover {
      background: $tone-4-color;
      border-radius: $roundness-1;
      opacity: 1;
    }
  }
}

@mixin hideImagePlayer {
  &:has(:global(.playkit-image-player > img[src=''])) {
    // hide image player container if image haven't loaded
    visibility: hidden;
  }
}
