:global(.playkit-player.has-dual-screen-plugin-overlay) {
  :global(.playkit-subtitles) {
    z-index: 1;
  }
  :global(.playkit-slideIn) {
    z-index: 1;
  }
}

:global(.playkit-player.playkit-overlay-active .dual-screen-layout) {
  // hide dual-screen layout to prevent focus issues when player overlay is active
  visibility: hidden;
}

:global(.playkit-player.has-dual-screen-plugin-overlay) {
  :global(.playkit-picture-in-picture-overlay) {
    visibility: hidden;
  }
}