@import '~styles/variables';
@import '~styles/styles';

$hide-container-height: 32px;
$hide-container-gap: 5px;

.parentPlayer {
  position: absolute;
  left: 0;
  @include hideImagePlayer;
}
.childPlayer {
  position: relative;
  video {
    position: relative;
  }
  @include hideImagePlayer;

  &.hideButtons,
  &.dragging {
    .innerButtons {
      display: none;
    }
  }
  &.hideButtons .hideContainer {
    display: none;
  }
  &.dragging .hideContainer {
    visibility: hidden;
  }

  .hideContainer {
    position: relative;
    width: 66px;
    height: $hide-container-height;
    margin-bottom: $hide-container-gap;
    margin-left: auto;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    cursor: pointer;
    color: #ffffff;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;

    background: rgba(0, 0, 0, 0.6);
    border-radius: 4px;

    &:hover {
      background: rgba(0, 0, 0, 0.7);
    }

    .iconContainer {
      margin-right: 8px;
      height: $smallBorderLessIconSize;
      width: $smallBorderLessIconSize;
    }
  }

  .playerWrapper {
    position: relative;
    border-radius: $border-radius;
    overflow: hidden;
    -webkit-mask-image: -webkit-radial-gradient(white, black);
    .playerContainer {
      box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.2), 0 0 4px 0 rgba(0, 0, 0, 0.3);
    }

    .innerButtons {
      flex-direction: row;
      justify-content: flex-end;
      pointer-events: none;
      * {
        pointer-events: auto;
      }

      .iconContainer {
        display: inline-block;
        padding: 2px;
        &:first-child {
          margin-right: 8px;
        }
      }
    }
  }
}

.animatedFade {
  animation: fading $animation-duration linear;
}

.animatedScaleRight {
  animation: scalingRight $animation-duration linear;
}

.animatedScaleLeft {
  animation: scalingLeft $animation-duration linear;
}

@keyframes scalingRight {
  0% {
    transform: scale(0.5) translate(-50%);
  }
  100% {
    transform: scale(1) translate(0%);
  }
}

@keyframes scalingLeft {
  0% {
    transform: scale(0.5) translate(50%);
  }
  100% {
    transform: scale(1) translate(0%);
  }
}

@keyframes fading {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
