.childPlayer{
  position: absolute;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.2), 0 0 4px 0 rgba(0, 0, 0, 0.3);
}

.bottom{
  bottom: 16px;
}

.bottomHover{
  bottom: 0;
}

.right{
  right: 16px;
}

