@import '~styles/variables';
@import '~styles/styles';

$hide-container-height: 32px;
$hide-container-gap: 5px;

.parentPlayer {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  @include hideImagePlayer;
}
.childPlayer {
  position: relative;
  video {
    position: relative;
    object-fit: cover;
    width: auto;
  }
  @include hideImagePlayer;

  &.hideButtons,
  &.dragging {
    .innerButtons {
      display: none;
    }
  }
  &.hideButtons .hideContainer {
    display: none;
  }
  &.dragging .hideContainer {
    visibility: hidden;
  }

  .hideContainer {
    position: relative;
    width: 66px;
    margin: 0px 0px $hide-container-gap auto;
    font-style: normal;
    font-weight: 400;

    &:hover {
      background: rgba(0, 0, 0, 0.7);
    }

    span {
      display: flex;

      .iconContainer {
        margin: 0px 6px 0px 0px;
        height: $smallBorderLessIconSize;
        width: $smallBorderLessIconSize;
      }
    }
  }

  .playerWrapper {
    position: relative;
    border-radius: $roundness-2;
    overflow: hidden;
    -webkit-mask-image: -webkit-radial-gradient(white, black);
    .playerContainer {
      box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.2), 0 0 4px 0 rgba(0, 0, 0, 0.3);
      :global(.playkit-image-player img) {
        width: auto;
      }
    }
    .innerButtons {
      flex-direction: row;
      justify-content: flex-end;
      align-items: flex-start;
      pointer-events: none;
      * {
        pointer-events: auto;
      }
      :global(.playkit-tooltip) {
        width: auto;
      }
      &.verticalPlayer {
        :global(.playkit-tooltip span) {
          max-width: 100px !important;
        }
      }

      .buttonWrapper {
        margin-left: 8px;
      }
    }
  }
}

.animatedFade {
  animation: fading $animation-duration linear;
}

.animatedScaleRight {
  animation: scalingRight $animation-duration linear;
}

.animatedScaleLeft {
  animation: scalingLeft $animation-duration linear;
}

@keyframes scalingRight {
  0% {
    transform: scale(0.5) translate(-50%);
  }
  100% {
    transform: scale(1) translate(0%);
  }
}

@keyframes scalingLeft {
  0% {
    transform: scale(0.5) translate(50%);
  }
  100% {
    transform: scale(1) translate(0%);
  }
}

@keyframes fading {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
