@import '~styles/variables';

$multiscreen-player-height: 58px;

.multiscreenWrapper {
  position: relative;
  .multiscreenPlayersWrapper {
    position: absolute;
    display: flex;
    flex-direction: row;
    right: 0px;
    bottom: calc(-1 * (10px + #{$multiscreen-player-height}));
    visibility: hidden;

    &.visible {
      visibility: visible;
    }

    .multiscreenPlayer {
      display: flex;
      flex-direction: column;
      position: relative;
      width: 104px;
      height: $multiscreen-player-height;
      border-radius: $roundness-1;
      overflow: hidden;
      margin: 0px 4px;

      .multiscreenButtonsWrapper {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        display: flex;
        padding: 0px 16px;
        justify-content: center;
        align-items: center;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 100%);

        & > button:nth-child(2) {
          margin-left: auto;
        }
      }
    }
  }
}
