@import '~styles/styles';
@import '~styles/variables';

$show-container-height: 32px;
$show-container-gap: 5px;

.childPlayerContainer {
  @include hideImagePlayer;
  display: flex;
  flex-direction: row;

  video {
    position: relative;
    object-fit: cover;
    width: auto;
  }
  position: absolute;
  top: 0;
  right: 0;
  transform: translateY(-100%);
  animation: fading $animation-duration linear;

  .childPlayer {
    position: relative;
    margin-left: 8px;
    width: auto;
    height: 60px;
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.2), 0px 8px 60px -16px rgba(0, 0, 0, 0.2);
    border-radius: $roundness-2;
    -webkit-mask-image: -webkit-radial-gradient(white, black);
    overflow: hidden;
    &.tinyChildPlayer {
      height: 34px;
    }
    :global(img) {
      width: auto;
    }
  }

  .showContainer {
    position: absolute;
    width: 70px;
    right: 0px;
    top: calc((#{$show-container-height} + #{$show-container-gap}) * -1);

    font-style: normal;
    font-weight: 400;

    &:hover {
      background: rgba(0, 0, 0, 0.7);
    }

    span {
      display: flex;

      .iconContainer {
        height: 16px;
        width: 16px;
        margin-right: 6px;
      }
    }
  }

  .innerButtons {
    border-radius: $roundness-2;
    justify-content: center;
    align-items: center;
    height: 60px;
    &.tinyInnerButtons {
      height: 34px;
    }
    .iconContainer:hover {
      background: transparent;
    }
  }
}

@keyframes fading {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
